<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rogfed</title>
    <link rel="stylesheet" href="../static/CSS/estilos-generales.css">
</head>

<body id="completo">
    <header id="main-header">
        <h1 id="Abrirmenu">Rogfed</h1>
        <nav class="megamenu">
            <ul>
                <li class="enlaces"><a href="./Index-registrado.html">Inicio</a></li>
                <li class="enlaces"><a href="./Sobre Nosotros-registrado.html">Sobre nosotros</a></li>
                <li class="enlaces"><a href="./Productos.html">Productos</a></li>
                <li class="enlaces"><a href="./Ficha de producto-registrado.html">Ficha de producto</a></li>
                <li class="enlaces"><a href="./Contacto-registrado.html">Contacto</a></li>
                <li class="enlaces">Usuario</li>
                <li id="prueba"><img src="../static/img/usuario.png" alt="" id="logo-user"></li>
                <li id="cerrar-sesion" class="enlaces"><a href="../Index.html">Cerrar sesión</a></li>
                <li><a href="./carrito.html"><img src="../static/img/carrito-de-compras.png" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container-cesta">
            <h3 id="titulo-cesta-vacia">Mi cesta</h3>
            <p id="subtitulo-cesta-vacia">0 artículos</p>
        </div>

        <div id="cesta-vacia">
            <img src="../static/img/lupa-vacio.PNG" alt="" id="imagen-lupa-vacia">
            <p><strong>Tu cesta está vacia</strong></p>
            <p>Los productos que vaya añadiendo se irán colocando aquí</p>
            <button id="regreso-productos"><a href="../views/Ficha de producto-registrado.html" id="boton-regreso-productos">Regresar a los productos</a></button>
        </div>
    </main>
    <footer>
        <p>2023 &copy; Rogfed</p>
    </footer>
    <script src="../static/JS/JS.js"></script>
</body>

</html>