<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rogfed</title>
    <link rel="stylesheet" href="../static/CSS/estilos-generales.css">
</head>

<body>
    <header id="main-header">
        <h1 id="Abrirmenu">Rogfed</h1>
        <nav class="megamenu">
            <ul>
                <li><a href="../Index.html">Inicio</a></li>
                <li><a href="./Sobre Nosotros.html">Sobre nosotros</a></li>
                <li class="enlaces"><a href="./Productos.html">Productos</a></li>
                <li><a href="./Ficha de Producto.html">Ficha de producto</a></li>
                <li><a href="./Contacto.html">Contacto</a></li>
                <li><a href="./Login.html">Login</a></li>
                <li><a href="./carrito.html"><img src="../static/img/carrito-de-compras.png" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container-condiciones">
            <h1>Condiciones de compra</h1>
            <p>Conoce toda la información relativa a tus <b> envíos, devoluciones y garantías.</b>
               ¡La información es poder! Echa un vistazo a nuestras Condiciones de Compra y adquiere tus artículos con la máxima confianza
                y tranquilidad.</p>
        </div>
        <div>
            <h2>Titular y condiciones generales de contratación</h2>
             <p class="texto-largo-condiciones">Las presentes Condiciones Generales de Contratación - ahora en adelante CGC ,regulan las condiciones de compra de los diferentes
                productos ofrecidos en nuestra web: www.Rogfed.com, sociedad española, y ubicado en C. Carboneros, 29009, Málaga/España.
                Los usuarios que realicen compras en www.Rogfed.com aceptan plenamente las presentes CGC y quedaran vinculados por estas,
                tal y como si fueran escritas en el momento de contratación/compra.</p> 
            <p class="texto-largo-condiciones">Sera requisito indispensable la lectura y la aceptación de las CGC, con carácter previo a la compra de cualquier producto a través de www.Rogfed.com
                    ROGFED se reserva el derecho de modificar las CGC en cualquier momento y sin previo aviso. Las CGC estarán siempre accesibles a partir del sitio web,
                    para que el usuario pueda consultarlas o imprimirlas en cualquier momento.</p>
            <p class="texto-largo-condiciones">Los precios y condiciones de venta tienen un carácter meramente informativo y pueden ser modificados en atención a las fluctuaciones del mercado.</p>
            <p class="texto-largo-condiciones">No obstante, la realización del pedido mediante la cumplimentación del formulario de compra, implica la conformidad con el precio ofertado y
                con las condiciones generales de venta vigentes en ese concreto momento. Una vez formalizado el pedido, se entenderá perfeccionada la compra de pleno derecho,
                con todas las garantías legales que amparan al consumidor adquirente y, desde ese instante, los precios y condiciones tendrán carácter contractual y no podrán
                ser modificados sin el expreso acuerdo de ambos contratantes.El castellano será la lengua utilizada para formalizar el contrato.</p>
            <p class="texto-largo-condiciones">El documento electrónico en que se formalice el contrato se archivará y el usuario tendrá acceso a él en su zona de cliente.
                    ROGFED se reserva el derecho de denegar y/o suspender el acceso a los servicios prestados en www.Rogfed.com por razones de vulneración de la buena fe contractual,
                    incumplimiento de la legislación de aplicación, de las presentes Condiciones Generales de Compra y/o en supuestos de fraude detectados por esta empresa y/o cualquiera de sus proveedores.</p>
               

                <h2>Envíos</h2>
                <ul>
                    <li class="texto-envios">Los plazos de entrega oscilan entre las 24 y las 72 horas a elección del cliente. No podemos garantizar estos plazos de entrega,
                         si bien intentamos que las empresas de transporte los cumplan siempre que sea posible. En poblaciones rurales alejadas
                         de núcleos urbanos no es posible garantizar en ningún caso la entrega en 24 horas.</li>
                    <li class="texto-envios">Los plazos de entrega dependerán de la disponibilidad de cada producto, la cual se encuentra indicada en todos y cada uno de los productos ofertados.
                         En los pedidos que incluyan varios artículos se hará un único envío y el plazo de entrega se corresponderá con el artículo cuyo plazo de entrega sea mayor.</li>
                    <li class="texto-envios">El cliente dispondrá de 5 días para comprobar la integridad de todos los componentes del pedido y para comprobar
                         que se incluye todo lo que debe en los productos incluidos. Pasados estos 5 días se dará por aceptado el envío y no se aceptarán reclamaciones por desperfectos o fallos con el envío.</li>
                    <li class="texto-envios">Se considerará entregado un pedido cuando sea firmado el recibo de entrega por parte del cliente. Es en los próximos 5 días
                         cuando el cliente debe verificar los productos a la recepción de los mismos y exponer todas las objeciones que pudiesen existir.</li>
                </ul>
        </div>
    </main>
    <footer>
        <p>2023 &copy; Rogfed</p>
    </footer>
    <script src="../static/JS/JS.js"></script>
</body>

</html>